/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
}
/* Eliminar estilos predeterminados de enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Eliminar estilos predeterminados de listas */
ul, ol {
    list-style: none;
}

/*Estilos de cabecera*/
.navBar{
    height: 24px;
    padding-right:120px;
    padding-left:120px;
    background-color:#FFFFFF;
}
.navBar h2{
    font-size:14px;
    display:inline-block;
    width:600px;
}
.navBar ul{
    display:inline;
}
.navBar ul li{
    padding-top:3px;
    display: inline-block;
    width: 100px;
}

/*Estilos de perfil*/
#profile {
    background-color:#FFFFFF;
    padding-right:120px;
    padding-left:120px;
    margin-top:16px;
}
#profile ul li{
    display:inline;
}
#profile ul li img{
    width:40px;
    margin:5px;
}
#profile .profile-description{
    display:inline-block;
    position:relative;
    bottom:60px;
}
#profile img.img-perf{
    width:260px;
    height:260px;
    border-radius:100%;
    display:inline;
}
#profile h1{
    font-size: 32px;
    margin-bottom:6px;
}
#profile p{
    margin-top:4px;
    margin-right: 200px;
    margin-bottom:4px;
    display:inline-block;
    width:500px;
}
#about{
    background-color:#000000;
    color:#FFFFFF;
    padding:30px 120px;
}
.title-section{
    font-size:24px;
    margin-bottom:6px;
}
#projects{
    padding:30px 120px;
}
.project{
    background-color:#000000;
    color:#FFFFFF;
    border-radius:10px;
    padding:15px 60px;
}
.project-presentation{
    display:inline-block;
   
}
.project-description{
    display:inline-block;
    
    width:400px;
}
.project-description p{
    display:inline-block;
    background-color:white;
    color:black;
    border-radius:5px;
    margin-bottom:3px;
    padding:8px;
}
.project-img{
    width:400px;
    height:220px;
    border-radius:5px;
}
.project-link{
   
}
.project-link a{
    display:inline-block;
    border-radius:5px;
    background-color:white;
    width:50px;

}
.project-stack li{
    display:inline-block;
    background-color:white;
    color:black;
    border-radius:4px;

}
/*Estilos de formacion*/
#training{
    background-color:black;
    color:white;
    padding:30px 120px;
}
.titles{
    background-color:white;
    color:black;
    border-radius:15px;
    padding:15px 30px;
}
.title{
    background-color:black;
    color:white;
    border-radius:15px;
    padding:15px 30px;
    display:inline-block;
}
.title img{
    width:400px;
    height:250px;
    border-radius:15px;

}