/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Eliminar estilos predeterminados de enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Eliminar estilos predeterminados de listas */
ul, ol {
    list-style: none;
}


